extends layout

block content
  h1 Stylus Example
  h1 Page 1, mimosa-sprite module example, &nbsp;
    a(href="/index2") Go To Example Page 2

  h2 Page 1 and 2 share the Mimosa logo but otherwise have different images

  .container
    .container-left
      h3 The white border below surrounds the single sprite image
      img(src="/images/index.png")

    .container-right

      h3 This has broken the sprite up and used each image
      .icon-grey-collapse
      .icon-grey-expand
      .icon-like
      .icon-preview-arrow
      br
      .mimosa-hat






