extends layout

block content
  h1 Stylus Example
  h1 Page 2, mimosa-sprite module example, &nbsp;
    a(href="/") Go To Example Page 1

  h2 Page 1 and 2 share the Mimosa logo but otherwise have different images

  .container
    .container-left
      h3 The white border below surrounds the single sprite image
      img(src="/images/index2.png")

    .container-right

      h3 This has broken the sprite up and used each image
      .icon-arrow-down
      .icon-bookmark-off
      .icon-bookmark-on
      .icon-citation
      br
      .mimosa-hat




