@import "./sprite/index"
@import "base"

.icon-grey-collapse
  sprite(icon-grey-collapse)

.icon-grey-expand
  sprite(icon-grey-expand)

.icon-like
  sprite(icon-like)

.icon-preview-arrow
  sprite(icon-preview-arrow)
