icon-arrow-down = 0 0 13px 13px
icon-bookmark-off = -13px -13px 14px 25px
icon-bookmark-on = -27px -38px 14px 25px
icon-citation = -41px -63px 16px 16px
mimosa-hat = -57px -79px 421px 421px
sprite($sprite)
    background-image url('../../images/index2.png')
    background-position $sprite[0] $sprite[1]
    width $sprite[2]
    height $sprite[3]
