icon-grey-collapse = 0 0 13px 13px
icon-grey-expand = 0 -13px 13px 13px
icon-like = 0 -26px 15px 13px
icon-preview-arrow = 0 -39px 16px 21px
mimosa-hat = 0 -60px 421px 421px
sprite($sprite)
    background-image url('../../images/index.png')
    background-position $sprite[0] $sprite[1]
    width $sprite[2]
    height $sprite[3]
